In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [105]:
df = pd.read_csv("/Users/rifah/Downloads/data.csv")

df.info()
df.shape
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1389 entries, 0 to 1388
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   modified Zurich class            1389 non-null   object
 1   largest spot size                1389 non-null   object
 2   spot distribution                1389 non-null   object
 3   activity                         1389 non-null   int64
 4   evolution                        1389 non-null   int64
 5   previous 24 hour flare activity  1389 non-null   int64
 6   historically-complex             1389 non-null   int64
 7   became complex on this pass      1389 non-null   int64
 8   area                             1389 non-null   int64
 9   area of largest spot             1389 non-null   int64
 10  common flares                    1389 non-null   int64
 11  moderate flares                  1389 non-null   int64
 12  severe flares                    1389 non-null   int64
dtypes: int64(10), object(3)
memory usage: 141.2+ KB

,activity,evolution,previous 24 hour flare activity,historically-complex,became complex on this pass,area,area of largest spot,common flares,moderate flares,severe flares
count,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000
mean,1.150468,2.421166,1.089993,1.395968,1.892009,1.025918,1.175666,0.261339,0.067675,0.009359
std,0.357658,0.617129,0.403292,0.489234,0.310481,0.158948,0.380673,0.760201,0.353695,0.103534
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000
50%,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,3.000000,1.000000,2.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000
max,2.000000,3.000000,3.000000,2.000000,2.000000,2.000000,2.000000,8.000000,5.000000,2.000000

In [106]:
df.dtypes

modified Zurich class              object
largest spot size                  object
spot distribution                  object
activity                            int64
evolution                           int64
previous 24 hour flare activity     int64
historically-complex                int64
became complex on this pass         int64
area                                int64
area of largest spot                int64
common flares                       int64
moderate flares                     int64
severe flares                       int64
dtype: object

In [107]:
df.head()

,modified Zurich class,largest spot size,spot distribution,activity,evolution,previous 24 hour flare activity,historically-complex,became complex on this pass,area,area of largest spot,common flares,moderate flares,severe flares
0,C,S,O,1,2,1,1,2,1,2,0,0,0
1,D,S,O,1,3,1,1,2,1,2,0,0,0
2,C,S,O,1,3,1,1,2,1,1,0,0,0
3,D,S,O,1,3,1,1,2,1,2,0,0,0
4,D,A,O,1,3,1,1,2,1,2,0,0,0

In [108]:
df.nunique()

modified Zurich class              6
largest spot size                  6
spot distribution                  4
activity                           2
evolution                          3
previous 24 hour flare activity    3
historically-complex               2
became complex on this pass        2
area                               2
area of largest spot               2
common flares                      8
moderate flares                    6
severe flares                      3
dtype: int64

In [109]:
cols = (["modified Zurich class",'largest spot size', 'spot distribution', 'activity', 'evolution',	'previous 24 hour flare activity', 'historically-complex', 'became complex on this pass' ,'area','area of largest spot','common flares', 'moderate flares', 'severe flares'])
for col in cols:
    
    print(df[col].value_counts() )

modified Zurich class
H    396
D    327
C    287
B    212
E    116
F     51
Name: count, dtype: int64
largest spot size
S    514
A    277
R    256
X    210
K     94
H     38
Name: count, dtype: int64
spot distribution
O    627
X    396
I    312
C     54
Name: count, dtype: int64
activity
1    1180
2     209
Name: count, dtype: int64
evolution
3    680
2    614
1     95
Name: count, dtype: int64
previous 24 hour flare activity
1    1320
3      56
2      13
Name: count, dtype: int64
historically-complex
1    839
2    550
Name: count, dtype: int64
became complex on this pass
2    1239
1     150
Name: count, dtype: int64
area
1    1353
2      36
Name: count, dtype: int64
area of largest spot
1    1145
2     244
Name: count, dtype: int64
common flares
0    1171
1     141
2      40
3      20
4       9
5       4
6       3
8       1
Name: count, dtype: int64
moderate flares
0    1321
1      53
2       9
4       3
3       2
5       1
Name: count, dtype: int64
severe flares
0    1377
1      11
2       1
Name: count, dtype: int64

In [110]:


#features to map - modified Zurich class largest spot size spot distribution
df["modified Zurich class"]=df["modified Zurich class"].replace({"B":0, "C":1, "D":2 , "E":3 , "F":4 ,"H":5})
df["modified Zurich class"]
df["largest spot size"]=df["largest spot size"].replace({"X":0, "R":1, "S":2 , "A":3 , "H":4 ,"K":5})
df["largest spot size"]
df["spot distribution"]=df["spot distribution"].replace({"X":0, "O":1, "I":2 , "C":3})
df["spot distribution"]

/var/folders/40/w4cdfvbs079gvv6pj944kd0w0000gn/T/ipykernel_41783/457267505.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["modified Zurich class"]=df["modified Zurich class"].replace({"B":0, "C":1, "D":2 , "E":3 , "F":4 ,"H":5})
/var/folders/40/w4cdfvbs079gvv6pj944kd0w0000gn/T/ipykernel_41783/457267505.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["largest spot size"]=df["largest spot size"].replace({"X":0, "R":1, "S":2 , "A":3 , "H":4 ,"K":5})
/var/folders/40/w4cdfvbs079gvv6pj944kd0w0000gn/T/ipykernel_41783/457267505.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["spot distribution"]=df["spot distribution"].replace({"X":0, "O":1, "I":2 , "C":3})

0       1
1       1
2       1
3       1
4       1
       ..
1384    0
1385    0
1386    1
1387    0
1388    1
Name: spot distribution, Length: 1389, dtype: int64

In [111]:
df

,modified Zurich class,largest spot size,spot distribution,activity,evolution,previous 24 hour flare activity,historically-complex,became complex on this pass,area,area of largest spot,common flares,moderate flares,severe flares
0,1,2,1,1,2,1,1,2,1,2,0,0,0
1,2,2,1,1,3,1,1,2,1,2,0,0,0
2,1,2,1,1,3,1,1,2,1,1,0,0,0
3,2,2,1,1,3,1,1,2,1,2,0,0,0
4,2,3,1,1,3,1,1,2,1,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1384,5,2,0,1,2,1,1,1,1,1,0,0,0
1385,5,2,0,2,2,1,1,2,1,1,0,0,0
1386,1,2,1,1,2,1,2,2,1,1,0,0,0
1387,5,1,0,1,2,1,1,2,1,1,0,0,0
1388,0,0,1,1,1,1,1,2,1,1,0,0,0